.article--header-background {
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}


.article--header {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  min-height: 600px;

    @media screen and (max-width: 600px) {
      min-height: 250px;
    }

}


.article--title {
  color: white;
  text-shadow: #000123 0 0 10px;
  font-variant: small-caps;
  margin: 0;
  text-align: left;
  font-size: 5em;
  padding: 0.8em 0;
  @include rem-font-size(4);

  @media screen and (min-width: 600px) {
    @include rem-font-size(5);
    text-align: center;
    span {
      display: inline;
    }
  }

  @media screen and (min-width: 800px) {
    @include rem-font-size(7);
  }

  @media screen and (min-width: 1200px) {
    @include rem-font-size(10);
  }

}

.article--lead {
  @include rem-font-size(2.5);
}

.article--properties {
  @include rem-font-size(1.5);
  padding: 10px;
  background-color: #cecece;
  margin: 20px 0;
}


.sticky--bar {
  width: 100%;
  position: fixed;
  top: 0;
  transform: translateY(-100px);
  transition: all 0.2s ease;
  background-color: $panel;
  box-sizing: border-box;

  &.fixed {
    display: block;
    transform: translateY(0px);
    z-index: 1000;
  }

  .sticky--title {
    font-size: 1em;
    margin:0;
    font-family: 'UmbrageRegular';
    font-variant: small-caps;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    color: white;
  }
  .sticky--grid-ref {
    color: #cecece;
    font-size: 0.75em;
    padding: 10px;
  }

}
