
.article-card {

  text-decoration: none;

  &:hover{
    opacity: 0.8;
    transform: all 0.3s ease;
  }

  .article-card--title {
    font-family: 'UmbrageRegular';
    font-variant: small-caps;

    @include rem-font-size(2.5);

  }

  .article-card--date {

    padding: 5px;
    padding-left: 0;
    @include rem-font-size(1.5);
  }

  .article-card--tag {

    padding: 5px;
    padding-left: 0;
    @include rem-font-size(1.5);
  }

  .article-card--image {
    overflow: hidden;
    height: 250px;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      top: -25%;
    }
  }

  .article-card--leader {
    @include rem-font-size(1.5);
  }
}
