
.article-card {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #44422D;
  text-decoration: none;

  &:hover {
    color: lighten(#44422D, 20%);
  }

  .article-card--title {
    font-family: 'UmbrageRegular';
    font-variant: small-caps;

    @include rem-font-size(2.5);


  }
  .article-card--image {
    overflow: hidden;
    width: 100%;
    height: 200px;
    border: 1px solid #4D4D4D;
  }
}
