.footer {
  color: white;
  background-color: $panel;
}

.footer--list {
  list-style-type: none;
  padding:0;
  margin:0;
  @include rem-font-size(1.5);

  li {
    display: block;
    padding: 5px 0;
  }

  a {
    color: white;
  }
}

.footer--copy {
  text-align: center;
  @include rem-font-size(1.5);
}

.footer--quote {
  @include rem-font-size(1.5);
  font-style: italic;
}
