
.map-container {
  width: 100%;
  max-width: 1280px;


  &.fixed {
    position: fixed;
    top: 40px;

    .map-wrapper {
      @include gridle_grid ( 4 );
    }
  }
}


.map-wrapper {
  @include gridle_grid ( 12 );
}

#map {
  height: 600px;
  width: 100%;
  background-color: #cecece;
}
