
.map-container {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;

  @include gridle_state(tablet desktop) {

    padding: 0 10px;

    &.fixed {
      position: fixed;
      padding: 0;
      top: 40px;

      .map-wrapper {
        @include gridle_grid ( 4 );
      }
    }

  }


}

.map-wrapper {
  @include gridle_grid ( 12 );
  padding: 0;
  box-sizing: border-box;
}

.map--grid-ref {
  @include rem-font-size(1.8);
  padding: 0 10px;
  color: lighten($dark, 1%);
}

#map {
  height: 300px;
  width: 100%;
  background-color: darken($light, 2%);

  @include gridle_state(tablet desktop) {
    height: 600px;
  }
}
