

.site--navigation {
  background-color: $dark;
  padding:0;

	ul {
    list-style-type: none;
  	padding: 0;
  	margin:0;
  }

	li {
		display: inline-block;

	}

	a {
		display: block;
		padding: 5px 10px;
    color: white;
	}
}
