// _site-header.scss

.Site--header {
  background-image: url(/images/heather.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 80px 0;
}

.Site--title {
  color: white;
  text-shadow: 0 0 15px black;
  font-variant: small-caps;
  margin: 0 30px;

  @include rem-font-size(7);

}

.Site--lead {
  @include rem-font-size(2);
  color: white;
  text-shadow: 0 0 5px black;
}
