// _site-header.scss


.site--header {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 500px;
  background-image: url('/images/map.jpg');
  background-size: cover;
  background-position: center;

    @media screen and (max-width: 600px) {
      min-height: 250px;
    }

}

.site--title {
  color: $panel;
  text-shadow: 0 0 2px white;
  font-variant: small-caps;
  margin: 0;
  text-align: center;

  @include rem-font-size(3);


  span {
    display: block;
    @media screen and (max-width: 599px) {
      &.and {
        font-size: 2rem;
      }
    }
  }
  @media screen and (min-width: 600px) {
    @include rem-font-size(4);
    text-align: center;
    span {
      display: inline;
    }
  }

  @media screen and (min-width: 800px) {
    @include rem-font-size(7);
  }

  @media screen and (min-width: 1200px) {
    @include rem-font-size(10);
  }

}

.site--lead {
  color: $panel;
  @include rem-font-size(2);

  @media screen and (min-width: 600px) {
    @include rem-font-size(3);
  }
  text-align: center;
}

