// _site-header.scss

.Site--header {
  background-image: url(/images/water.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 80px 0;
  min-height: 34rem;
}

.Site--title {
  @include rem-font-size(7);
  color: white;
  text-shadow: 0 0 10px black;
  font-variant: small-caps;
  margin: 0 30px;
}

.Site--lead {
  @include rem-font-size(2);
  color: white;
  text-shadow: 0 0 5px black;
}
