// _site-header.scss


.site--header {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  min-height: 200px;

    @media screen and (max-width: 600px) {
      min-height: 250px;
    }

}

.site--title {
  color: white;
  text-shadow: 0 0 15px black;
  font-variant: small-caps;
  margin: 0;
  text-align: left;

  @include rem-font-size(3);
  padding-left: 24px;

  span {
    display: block;
    @media screen and (max-width: 599px) {
      &.and {
        font-size: 2rem;
      }
    }
  }
  @media screen and (min-width: 600px) {
    @include rem-font-size(3);
    text-align: center;
    span {
      display: inline;
    }
  }

  @media screen and (min-width: 800px) {
    @include rem-font-size(6);
  }

  @media screen and (min-width: 1200px) {
    @include rem-font-size(5);
  }

}

.site--lead {
  @include rem-font-size(2);


  @media screen and (min-width: 600px) {
    @include rem-font-size(3);
  }

  text-shadow: 0 0 5px black;
}
