// _site-header.scss

.Site--header {
  background-image: url(/images/heather.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.Site--title {
  color: white;
  text-shadow: 0 0 15px black;
  font-variant: small-caps;
  margin: 0;
  text-align: left;

  @include rem-font-size(4);
  padding-left: 24px;

  span {
    display: block;
    @media screen and (max-width: 599px) {
      &.and {
        font-size: 3rem;
      }
    }
  }
  @media screen and (min-width: 600px) {
    @include rem-font-size(5);
    text-align: center;
    span {
      display: inline;
    }
  }

  @media screen and (min-width: 800px) {
    @include rem-font-size(7);
  }

  @media screen and (min-width: 1200px) {
    @include rem-font-size(10);
  }

}

.Site--lead {
  @include rem-font-size(2);


  @media screen and (min-width: 600px) {
    @include rem-font-size(3);
  }

  color: white;
  text-shadow: 0 0 5px black;
}
