//- partials/_footer.jade

footer
  .Grid
    .row
      .gr-12
      | &copy; MudWetandBeers.com 2016

script(type="text/javascript" src="https://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=02020AC47FF123EBE0530B6CA40A2D86")
script(type= "text/javascript" src="https://openspace.ordnancesurvey.co.uk/osmapapi/script/mapbuilder/basicmap.js")
script(type="text/javascript" src="/js/map.js")