//- partials/_footer.jade

section.footer.footer--links
  .container
    div(class="row row@mobile")
      div(class="gr-4 gr-12@mobile")
        h4.footer--title Regions
        ul.footer--list
          - for (var r in regions ) {
            li
              a(href="/region/#{regions[r].urlSafe}/")
                =r
              span &nbsp;(#{regions[r].length})
          - }
      div(class="gr-4 gr-12@mobile")
        h4.footer--title Pages
        ul.footer--list
          li
            a(href='/about') About
          li
            a(href='/search') Search

      div(class="gr-4 gr-12@mobile")
        h4.footer--title Contact
        ul.footer--list
          li
            a(href='mailto:james@mudwetandbeers.com') Email
          li
            a(href='https://twitter.com/MudWetandBeers') Twitter

section.footer.footer--copyright
  .container
    div(class="row row@mobile")
      .gr-12
        p.footer--copy
          | &copy; MudWetandBeers.com 2017

script(type="text/javascript" src="https://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=02020AC47FF123EBE0530B6CA40A2D86")
script(type="text/javascript" src="/js/lib/angular.min.js")

script(type="text/javascript" src="/js/index.js")
script(type="text/javascript" src="/js/controllers/Walk.js")
script(type="text/javascript" src="/js/controllers/Map.js")
script(type="text/javascript" src="/js/services/routeService.js")
script(type="text/javascript" src="/js/services/MapService.js")
script(type="text/javascript" src="/js/services/OpenSpaceService.js")

script(type="text/javascript" src="/js/directives/sticky.js")
script(type="text/javascript" src="/js/directives/MapPoint.js")


script(type="text/javascript" src="/js/whereami.js")
