//- partials/_footer.jade

footer.footer
  .Grid
    .row
      .gr-12.footer
      | &copy; MudWetandBeers.com 2016

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(type="text/javascript" src="https://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=02020AC47FF123EBE0530B6CA40A2D86")
script(type="text/javascript" src="/js/mwab.js")

