//- partials/_head.jade
title= title ? title + ' | ' + 'MudWetandBeers.com' : 'MudWetandBeers.com'

meta(charset="utf-8")
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css')
link(href='/css/styles.css' rel='stylesheet' type='text/css')

script(type="text/javascript" src="https://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=02020AC47FF123EBE0530B6CA40A2D86")
script(type= "text/javascript" src="https://openspace.ordnancesurvey.co.uk/osmapapi/script/mapbuilder/basicmap.js")
script(type="text/javascript" src="/js/map.js")