.article-card
  .row
    div(class="gr-6 article-card--image")
      img(src="/#{walk.path}#{walk.image}")
    div(class="gr-6")

      a(href="/#{walk.path}")
        h2.article-card--title
          =walk.title
      span.article-card--date
        =walk.publishDate
      div("hide@mobile")
        p.article-card--leader
          =walk.lead
        a(href="/region/#{walk.regionUrlSafe}/").article-card--tag
          =walk.region
