
.article-card
  .article-card--image
    img(src="/#{walk.path}#{walk.image}")

  a(href="/region/#{walk.regionUrlSafe}/").article-card--tag
    =walk.region

  span.article-card--date
    =walk.publishDate

  a(href="/#{walk.path}")
    h2.article-card--title
      =walk.title

  p.article-card--leader
    =walk.lead
