//- page.jade
extends page

block head
  section.Site--top-bar
    .Grid
      .row
        .gr-12
          a.Site--home-link(href='/') MudWetandBeers.com

block content

  section
    .Grid
      .row
        .gr-12
          h1.Article--title!= title

    .Grid
      .row
        .gr-12
          div!= contents

          h3 Build Number:
            em!= site.build_number
            span .

          h3 Last Built:
            em!= moment(site.build_time).format("h:mma D MMM YYYY")
            span .
