//- post.jade
extends page

block content
  section.Article--header-background
    .container
      .row
        .gr-12.Article--header
          h1.Article--title!= title


    section
      .container
        div(class="row row@mobile")
          .gr-12
            .article--breadcrumb
              a(href="/") Home
              span /
              span
                !=title

  section
    .container
      .row
        div(class="gr-12 ")
          .gr-12!= contents
