//- post.jade
extends page

block content
  section.article--header-background
    .container
      .row
        .gr-12.article--header
          h1.article--title!= title

  section
    .container
      .row
        div(class="gr-12 ")
          .gr-12!= contents
