//- page.jade
extends layout

block head
  section.Site--header
    h1.Site--title=site.title
    p.Site--lead=site.lead

block content
  section
    .Grid
      div(class="row row@mobile")
        each walk in collections.walks
          div(class="gr-12").Post-item
            h5.title
              a(href="/#{walk.path}")
                =walk.title
            div !{walk.excerpt}

