//- page.jade
extends layout

block head
  section.site--header
    .container
      .row
        .g-12
          h1.site--title
            span Mud
            span Wet
            span.and and
            span Beers.com
      .row
        .g-12
          p.site--lead=site.lead
  section
    .container
      div(class="row row@mobile")
        .gr-12
          .article--breadcrumb
            a(href="/") Home
            span /

            span
              !=title

block content

  section
    .container
      div(class="row row@mobile")
        div(class="gr-12 gr-12@mobile")
          - for (var i = 0; i < collections.featured.length; i++) {
            div
              if collections.featured[i]
                .gr-6
                  - walk = collections.featured[i]
                  include partials/article_card
          - }

