//- page.jade
extends layout

block head

  section.site--header
    .container
      .row
        h1.site--title
          span Mud
          span Wet
          span.and and
          span Beers.com
        p.Site--lead=site.lead

block content

  section
    .container
      div(class="row row@mobile")
        div(class="gr-12 gr-12@mobile")
          - for (var i = 0; i < collections.featured.length; i++) {
            div
              if collections.featured[i]
                .gr-6
                  - walk = collections.featured[i]
                  include partials/article_card
          - }

