//- page.jade
extends layout

block head

  section.site--header
    .container
      .row
        h1.site--title
          span Mud
          span Wet
          span.and and
          span Beers.com
        p.Site--lead=site.lead

block content

  section
    .container
      div(class="row row@mobile")
        div(class="gr-12 gr-12@mobile")
          .row
            div(class="gr-12")
              - walk = collections.featured[0]
              include partials/article_card

