//- page.jade
extends layout

block head
  section.site--header
    .container
      .row
        .g-12
          h1.site--title
            span Mud
            span Wet
            span.and and
            span Beers.com
      .row
        .g-12
          p.site--lead=site.lead
  section.article--breadcrumb
    .container
      div(class="row row@mobile")
        .gr-12
          .article--breadcrumb
            a(href="/") Home
            span /

            span
              !=title

block content

  section
    .container
      div(class="row row@mobile")
        - for (var i = 0; i < collections.walks.length; i++) {
          if collections.walks[i]
            div(class="gr-6 gr-12@mobile")
              - walk = collections.walks[i]
              include partials/article_card
        - }

