//- page.jade
extends layout

block content
  section
    .Grid
      .row  
        .Grid--cell
          div!= contents

  section
    .Grid
      .row
        each walk in collections.walks
          div.Post-item
            h5.title
              a(href="/#{walk.path}")
                =walk.title
            div !{walk.excerpt}
              a(href="/#{walk.path}" class="readmore") read more
                