//- page.jade
extends layout

block head

  section.Site--header(style="background-image:url(#{backgroundImage})")
    h1.Site--title
      span Mud
      span Wet
      span.and and
      span Beers.com
    p.Site--lead=site.lead

block content

  section
    .Grid
      - for (var i = 0; i < collections.walks.length; i = i + 3) {
        .row
          if collections.walks[i]
            - walk = collections.walks[i]
            include partials/walk

          if collections.walks[i+1]
            - walk = collections.walks[i+1]
            include partials/walk

          if collections.walks[i+2]
            - walk = collections.walks[i+2]
            include partials/walk

      - }
