//- page.jade
extends layout

block content
    
  div!= contents

  ul
  each walk in collections.walks
    li.post-item
      h5.title
        a(href="/#{walk.path}")
          =walk.title
      div !{walk.excerpt}
        a(href="/#{walk.path}" class="readmore") read more
          