//- layout.jade
doctype
html
  head
    include partials/_head.jade
  body(onload="initmapbuilder()")
    include partials/_google-tag-manager.jade

    section
      .Grid
        .Grid--cell
          h1!= title
    section
      .Grid
        .Grid--cell
         include partials/_navigation.jade
    section
      .Grid
        .Grid--cell
          block content

    include partials/_footer.jade