//- layout.jade
doctype
html
  head
    include partials/_head.jade
  body(onload="initmapbuilder()")
    include partials/_google-tag-manager.jade

    section
      .Grid
        .row
          .Grid--cell
            h1!= title

    include partials/_navigation.jade

    block content

    include partials/_footer.jade