//- layout.jade
doctype
html(ng-app="whereAmI")
  head
    include partials/_head.jade


  body
    include partials/_google-tag-manager.jade

    block head

    block content

    include partials/_footer.jade
