//- page.jade
extends layout

block head

  include partials/_top_bar.jade

block content
  section.article--header-background(style="background-image:url(/images/map.jpg);")
    .container
      .row
        .gr-12
          h1.article--title Search

  section
    .container
      .row
        .gr-12

            script.
              (function() {
                var cx = '001408517378495357508:41uskfzglsw';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            <gcse:search></gcse:search>

<gcse:search></gcse:search>
