//- tag.jade
extends page
block head
  include partials/_top_bar.jade

  section.Site--header
    h1.Site--title=title

block content

  section
    .Grid
      - for (var i = 0; i < pagination.files.length; i = i + 2) {
        .row

          if pagination.files[i]
            .gr-6
              - walk = pagination.files[i]
              include partials/article_card

          if pagination.files[i+1]
            .gr-6
              - walk = pagination.files[i+1]
              include partials/article_card
      - }


  section
    .Grid
      .row
        .gr-6
          if pagination.previous
            a(href="/#{pagination.previous.path.replace('index.html','')}") Previous
        .gr-6
          if pagination.next
            a(href="/#{pagination.next.path.replace('index.html','')}") Next
