//- tag.jade
extends page
block content

  h1!= title

  section
    .Grid
      .row
        each post in pagination.files
          div.Post-item
            h5.title
              a(href="/#{post.path}")
                =post.title

  section
    .Grid
      .row
        .gr-12
          if pagination.previous
            a(href="/#{pagination.previous.path}") Previous

          if pagination.next
            a(href="/#{pagination.next.path}") Next
