@import "lib/normalize";

@import "base/typography";

//@import "components/grid";
@import "components/site-navigation";

* {
  font-family: 'Open Sans', sans-serif;
}

.Article--header {
  background-image: url(/images/heather.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: left;
  min-height: 500px;
  display: flex;
}


.Article--title {
  color: white;
  font-size: 6em;
  margin: 0;
  align-self: flex-end;
}

#map {
  height: 400px;
  width: 100%;
}

.Grid {
  max-width: 800px;
  margin: auto;
}