@import "lib/normalize";
@import "lib/gridle/gridle";
@import "base/typography";
@import "base/imagery";
//@import "components/grid";
@import "components/site-header";
@import "components/site-navigation";
@import "components/footer";

$settings : (
    context : 12,           // number of columns in your grid
    column-width : null,    // by default it's percentage based depending on the context but you can specify a column width yourself
    gutter-width : 20px,    // size of the gutters
    gutter-height : 0,      // size of top and bottom gutters
    gutter-top    : 0,      // size of top gutter
    gutter-bottom : 0,      // size of bottom gutter
    gutter-left   : 10px,   // size of left gutter
    gutter-right  : 10px,   // size of right gutter
    direction : ltr,        // direction
    dir-attribute : false,  // if need to generate support for dir="rtl" in order to set part of layout direction
    states-classes : false, // if we need to generate the states classes
    name-multiplicator : 1, // if 5, generate gr-5, gr-10, etc...
    classes-prefix : ''     // the prefix used for all classes
);

// setting up the grid
@include gridle_setup($settings);

// make the use of media queries really easy
@include gridle_register_state ( mobile , (
    max-width : 480px,
    gutter-left: 10px
) );


@include gridle_register_state ( tablet , (
    min-width : 481px,
    max-width : 1024px
) ) ;

@include gridle_register_state ( desktop , (
    min-width : 1200px
) ) ;

// generate classes :
@include gridle_generate_classes ( );


body {
    background-color: #F4F4F4;
}
// manage container width :
.Grid {
    max-width : 1200px;
    margin : 0 auto;
}

.row {
   @media screen and (max-width: 1200px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}


.Post-item {

  .title {
    font-family: 'UmbrageRegular';
    @include rem-font-size(2.5);

    a {
      color: black;
    }
  }
}



.Site--home-link {
  font-family: 'UmbrageRegular';
  font-variant: small-caps;
  text-decoration: none;
  color: black;
}

.Article--title {
  font-size: 4em;
  margin: 0;
}

#map {
  height: 400px;
  width: 100%;
}
