@import "lib/normalize";
@import "lib/gridle/gridle";
@import "lib/grid";

@import "base/colours";
@import "base/typography";
@import "base/imagery";
//@import "components/grid";
@import "components/site-header";
@import "components/site-navigation";
@import "components/footer";
@import "components/map";
@import "components/article-card";
@import "components/article-lead";

@import "components/article-breadcrumb";




body {

}

// manage container width :
.Grid {
    max-width : 1280px;
    margin : 0 auto;
}

.Site--top-bar {
  background-color: $panel;
  padding: 0;
}

.Site--home-link {
  font-family: 'UmbrageRegular';
  font-variant: small-caps;
  text-decoration: none;
  color: #ECE9E0;
  display: inline-block;
  padding: 10px 0;
}

.Article--header-background {
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-color: darken( #F4F4F4 ,20%);
  min-height: 500px;
}
.Article--header {
  display: flex;
  align-items: flex-end;
  min-height: 600px;
}

.Article--title {
  font-size: 5em;
  margin: 0;
  padding: 0.8em 0;
  font-variant: small-caps;
  text-shadow: 0 0 15px black;
  color: white;
}

.Article--properties {
  background-color: $panel;
  padding: 0.8em;
  color: white;

  p {
    @include rem-font-size(1.5);
  }

}

