@import "lib/normalize";
@import "lib/gridle/gridle-flex";
@import "lib/grid";

@import "base/colours";
@import "base/typography";
@import "base/imagery";
//@import "components/grid";
@import "components/site-header";
@import "components/site-navigation";
@import "components/footer";
@import "components/map";
@import "components/article-card";
@import "components/article-lead";

@import "components/article";

@import "components/article-breadcrumb";




body {
  background-color: $light;
}

// manage container width :


.site--top-bar {
  background-color: $panel;
  color: white;
}

.site--home-link {
  font-family: 'UmbrageRegular';
  font-variant: small-caps;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
  color: white;
}

